# OS / Système
.DS_Store
.AppleDouble
.LSOverride

# Frontend (React / Vite)
rendu/devweb/node_modules/
rendu/devweb/dist/
rendu/devweb/dist-ssr/
rendu/devweb/*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IA / Fine-Tuning / Python
__pycache__/
*.py[cod]
*$py.class
adapters/
medical_project/mlx_data/
datasets/dataset_v0.json

# Docker
.docker/
docker-compose.override.yml

# Environnement / Secrets
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
